pywin32
langchain
langchain-community
langgraph
ollama
langchain-ollama
langchain-huggingface
wikipedia
wikipedia-api
ddgs
pandas 
numpy 
scikit-learn
matplotlib
seaborn
gradio
pypdf
qdrant-client 
langchain-qdrant
jinja2
fastmcp
langchain_mcp_adapters
langmem
mem0ai
mem0ai[nlp]
mem0ai[extras]